
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;1,100&display=swap');
html{
  font-family: 'Exo 2', sans-serif !important;
}

body{
  font-family: 'Exo 2', sans-serif !important;
  font-weight: 300 !important;
}

.App {
  text-align: center;
  min-height:inherit;
}
body{
  height:100%;
 
}

.white-theme-background{
  background-color: #eaeaea !important;
}
.dark-theme-background{
  background-color: #212121 !important;
}

.text-header1{
  font-size: calc(2em + 1vw);
}
.text-header2{
  font-size: calc(2em );
}



.nav-link{
  border:none !important;
}

.rec-arrow{
  outline:none !important;
}

html {
  height: 100%; /* <------------ */
}
.container-fluid{
  padding:0px !important;
  overflow-x: hidden !important;
}
/*
fluid header 1
*/
::-webkit-scrollbar-thumb{
  background: transparent !important;
}


.dropdown{
}
.dropdown-menu{
  width:320px !important;
}
.dropdown-menu.show{
}
/*
*/
.navbar-toggler{
  outline:none !important;
}
.MuiAppBar-colorPrimary{
  background-color: #393e46 !important;
}
.MuiButtonBase-root{
  outline:none !important;
}
/*
react elastic carousel dot not selected
*/

.guuruq{
  color:white !important;
  background-color: white !important;
  border-color: transparent !important;
}

/*
react elastic carousel dot selected
*/
.cJeRRR{
  background-color: #08d9d6 !important;
  border-color: transparent !important;
  box-shadow: none  !important;

}

.rec-dot{
  color:white !important;
}

.rec-dot_active{
  color:green !important;
}

.accent-color{
  color:#00adb5 !important;
}

.icon-xlarge{
  width:96px;
  height:96px;
}

.icon-large{
  width:56px;
  height:56px;
}

.icon-medium{
  width:36px;
  height:36px;
}

.icon-small{
  width:24px;
  height:24px;
}

.icon-xsmall{
  width:16px;
  height:16px;
}