.NavBar-color{
    background-color: #303030;
}

/*
background-color: #393e46;
*/

.nav-item{
    outline:none;
}
.navbar-logo-brand{
    width:50px;
    height:50px;
}

.ctGuard-text{
    color:white;
}
.navbar-avatar-img{
    width:50px;
    height:50px;
   margin-right:0;
   border-radius:100px;
}
.navbar-avatar-img:hover{
    cursor:pointer;
    opacity: 0.5;
}


.helper{
    border:solid;
    border-color:red;
}
.search-focus{
    opacity: 0.8;
}
.search-focus:hover{
    opacity:1;
    transition:opacity 0.5s
}
.search-focus:focus{
    opacity:1;
    transition:opacity 0.5s;
}



.navbar-dropdown-wrapper{
    background-color: whitesmoke;
}

.nav-dropdown-icons{
    width:32px;
    height:32px;
}



@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }