.user-login-position{
    margin-top:5vh;
  }

  
  .show-pass-icon{
    height:20px;
    width: auto;
}

.show-pass-icon:hover{
   opacity: 0.5;
}

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    .login-page{
      margin-top:20vh;
    }